body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
  font-size: 21px;
  background-color: #eeeeee;
}

.board {
  position: relative;
  background-color: white;
  padding: 50px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.cell {
  background-color: white;
  color: #aaaaaa;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 5px;
  border-radius: 7px;
  display: inline-block;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.celldisabled {
  color: #666666;
}

.cell0 {
  color: #aaaaaa;
}

.cell1 {
  color: #148776;
}

.cell2 {
  color: #d78111;
}

.cell3 {
  color: #d92f44;
}

.dot {
  position: absolute;
  background-color: #aaaaaa;
  width: 10px;
  height: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.lineGroup {
  position: absolute;
  width: 100px;
  height: 100px;
}

.linePart {
  position: absolute;
  width: 50px;
  height: 50px;
}

.linePartCenter {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 43px;
  top: 43px;
  background-color: #4d619a;
}

.linePart1 {
  left: -7px;
  top: -7px;
}

.linePart2 {
  right: -7px;
  top: -7px;
}

.linePart3 {
  right: -7px;
  bottom: -7px;
}

.linePart4 {
  left: -7px;
  bottom: -7px;
}

.linePart1-1 {
  border-bottom: 14px solid #4d619a;
}

.linePart1-2 {
  border-right: 14px solid #4d619a;
  border-bottom: 14px solid #4d619a;
  border-radius: 0 0 28px 0;
}

.linePart2-1 {
  border-left: 14px solid #4d619a;
}

.linePart2-2 {
  border-left: 14px solid #4d619a;
  border-bottom: 14px solid #4d619a;
  border-radius: 0 0 0 28px;
}

.linePart3-1 {
  border-top: 14px solid #4d619a;
}

.linePart3-2 {
  border-left: 14px solid #4d619a;
  border-top: 14px solid #4d619a;
  border-radius: 28px 0 0 0;
}

.linePart4-1 {
  border-right: 14px solid #4d619a;
}

.linePart4-2 {
  border-right: 14px solid #4d619a;
  border-top: 14px solid #4d619a;
  border-radius: 0 28px 0 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.tool-area {
  position: relative;
  width: auto;
  text-align: center;
}

.tool-back {
  position: relative;
  display: inline-block;
  width: 160px;
  margin: 10px;
  padding: 5px;
  border: 0px;
  border-radius: 45px;
  background-color: white;
}

.tool-item-icon {
  position: relative;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.tool-item-icon-pen-on {
  background-image: url("./images/pen.png");
}
.tool-item-icon-pen-off {
  background-image: url("./images/pen-gray.png");
}
.tool-item-icon-eraser-on {
  background-image: url("./images/eraser.png");
}
.tool-item-icon-eraser-off {
  background-image: url("./images/eraser-gray.png");
}
