body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 21px;
}

.board {
  position: relative;
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 7px;
}

.cell {
  background-color: #eeeeee;
  color: #aaaaaa;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 5px;
  border-radius: 7px;
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.dot {
  position: absolute;
  background-color: #aaaaaa;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
